extends layout

block content
  .row
    .col-xs-12
      p.subheader
        | Send a message they'll have to yell to see!
      .message-form-container
        form(action="/newmessage" method='post')
          textarea(class='message message-input' name='message')
          button(type='submit' class='message-submit btn') 
            | send your message
  .row
    .col-xs-12.explanation
      hr
      p.yell2see
        | Recipients of a Yell2See have to yell loudly to reveal its contents.
        | Made by <a class='twitter-link' href='http://twitter.com/andrewbadr'>@andrewbadr</a> and <a class='twitter-link' href='http://twitter.com/mikeybadr'>@mikeybadr </a>for <a class='twitter-link' href='http://twitter.com/stupidhackathon'>@stupidhackathon</a>.
      //<!--
      //p.yell2see
        | This new messaging concept has three big:
        | (1) Effort shows you care
        | (2) Engages the limbic system
        | (3) People around you know when you got a message.
      //p.yell2see
