extends layout

block content
  .container-fluid
    .row
      .col-xs-12
        .page-header
          h1.text-center
            a.headline(href="/") Yell2See
    .row
      .col-xs-12
        p.intro.text-center
          | Send a message they will have to yell to see!
        .message-form-container
          form(action="newmessage" method='post')
            textarea(class='message-input' name='message')
            button(type='submit' class='message-submit btn') send your message
    .row
      .col-xs-12
        p.yell2see Yell2See is a new messaging service.
