extends layout

block content
  .row
    .col-xs-12
      p.subheader
        | Yell to reveal your message!
    .col-xs-12
      .message-display-container.message
        p.message-display.yell2see #{message}
    .col-xs-12
      button.btn#copy-button copy the link to this yell2see
    a(href="/")
      .col-xs-12.promo Send your own yell2see!


  script(src='js/clipboard.min.js')
  script(type='text/javascript').
    document.getElementById('copy-button').addEventListener('click', function() {
      clipboard.copy({
      'text/plain': document.location,
      }).then(
      function(){console.log('success'); },
      function(err){console.log('failure', err);
      });
    });



