extends layout

block content
    .container-fluid
      .row
        .col-xs-12
          .page-header
            h1.text-center Yell2See
      .row
        .col-xs-12.text-center
          h3 Yell to reveal your message!
        .col-xs-12
          .message-display-container
            h2.text-center.message-display.yell2see #{message}

